body{
    font-family: "Playfair Display";
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

nav img {
    width: 150px;
    height: 100px;
}

.logo {
    text-decoration: none;
    color: black;
}

a, .logo-color {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Montserrat;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Montserrat;
}


h1{
    text-align: center;
    font-weight: 500;
    font-size: 48px;
}

.flex {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 150px;
    padding-top: 10px;
}

.container img {
    max-width: 100%;
    height: auto;  
    width: 400px;   
    border-radius: 9px;

}

h2 {
    font-size: 30px;
    font-weight: 300;
}

p, a {
    font-size: 16px;
    font-family: Montserrat;
}

#link-decoration, a {
    text-decoration: underline;
}

footer {
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f3f4f6;
}

.grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 50px;
    padding: 15px;
}
    
.container-galeria {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
    
.container-galeria img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

article {
    display: block;
    margin: 0 auto;
    width: 75%;
}

article img {
    width: 100%;    
    margin: 0;
    display: block;
    margin: 0 auto;
    display: inline-flex;
    border-radius: 9px;
}

article p {
    font-family: "Playfair Display";
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
  }
  
fieldset:last-of-type {
    border-bottom: none;
  }
  
label {
    display: block;
    margin: 0.5rem 0;
  }
  
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
input, textarea {
    background-color: #c2c2c2;
    border: 1px solid #c2c2c2;
    color: black;
    border-radius: 5px;
  }
  
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: black;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    border-radius: 20px;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
.inline{
    display: inline; 
}

.tiendas {
    display: inline;
    aspect-ratio: 1;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.tiendas img {
    max-width: 100%;
    height: auto;  
    width: 400px;   
    border-radius: 9px;
}

.contanier-tendencias {
    display: flex;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 36px;
}

.contanier-tendencias img {
    height: auto;  
    width: 400px;
    border-radius: 9px;
}

main {
    display: flex;
    gap: 70px;
    margin: 0 auto;
    width: 90%;
}

main img {
    width: 100%;    
    margin: 0;
    display: block;
    margin: 0 auto;
    display: inline-flex;
    border-radius: 9px;
}

.sobre-nosotros {
    display: block;
    text-align: center;
    font-family: Montserrat;
    text-decoration: underline;
}

.sobre-nosotros img {
    width: 400px;
}

table, th, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
}

table {
    margin-left: 150px;
    margin-right: 150px;
}

td {
    padding: 1em;
}