body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
    font-weight: 300;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

section h2 {
    font-size: 2em;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

section div {
    margin-bottom: 20px;
}

section div h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #16a085;
}

section div p {
    font-size: 1.2em;
    color: #7f8c8d;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    font-size: 1.2em;
    margin-top: 50px;
}